body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;

}

.container {
    position: relative;
    text-align: center;
    color: white;
}

img {
  filter: brightness(50%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 84px;
    color: white;
}

h1{


  font-size: 40px;
  color: #000;
}
p{
  padding-left: 50px;
  font-size: 30px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  padding-left: 15%;
}

.navbar a:hover {
  color: #ffffff;
}

.pimg1 {
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('images/duck1.jpeg');
  min-height:100%;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
    /*
  text-transform:uppercase;
    */
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 450px;
  background-color: #fff;
  background-image: url('images/duck1.jpeg');
  filter: brightness(50%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

ul
{
    /*
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding: 0;
    */
    display:inline-flex;
    transform: translate(-7%,-0%);
}
ul li
{
    list-style: none;
}
ul li a
{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}
ul li a:hover
{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
ul li a .fa
{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}
ul li:nth-child(1) a:hover .fa
{
    color: #3b5998;
}
ul li:nth-child(2) a:hover .fa
{
    color: #00aced;
}
ul li:nth-child(3) a:hover .fa
{
    color: #bc2a8d;
}

.smaller {
  font-size: 20px;
}

ol{
  padding-left:70px;
}
